.catalogue{
    padding-top: 100px;
}
.catalogue-menu{
    padding:12px 50px 50px 50px;
    width: 30vh;
    height: 77vh;
    border-right: 1px solid black;
}
.gender {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.categories{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

