.catalogue {
    padding-top: 85px;
    display: flex;
    font-family: 'News Cycle', sans-serif;
}

.catalogue-menu {
    position: fixed;
    padding: 1% 4% 4% 5%;
    width: 20vh;
    height: 77vh;
    border-right: 1px solid black;
}

.gender {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.categories {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.display-products {
    width: 100%;
    padding-right: 2%;
    padding-left: 20rem;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right:7% ;
}

.dropdown {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

.dropdown:hover {
    border-color: #666;
}
.all-card{
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    flex-wrap: wrap;
    
}