.budget-buy-container,.top-brands-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);   
}
.budget-buy, .top-brands{
    margin: 25px;
    width: 250px;
    cursor: pointer;
}
.mega-deals-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.mega-deals{
    margin: 25px;
    margin-left: 40px;
    width: 350px;
    cursor: pointer;
}
